<%= bootstrap_form_for(developer) do |f| %>
  <% if developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container card card-block">
  <div class="field">
    <%= f.text_field :snapchat_username, placeholder: "anakin_skywalker", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :full_name, placeholder: "Han Solo" %>
  </div>

  <div class="field">
    <%= f.text_area :about, rows: 5, placeholder: "Anything that best describes you as a developer. Give your best shot." %>
  </div>

  <div class="actions">
    <span style="padding-right: 20px;"><%= f.submit "OK. Add me!", class: "btn btn-primary-outline" %></span>
    <%= link_to 'No, take me back.', developers_path %>
  </div>
</div>
<% end %>

