<%= bootstrap_form_for(developer) do |f| %>
  <% if developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :login %>
  </div>

  <div class="field">
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.text_area :about %>
  </div>

  <div class="actions">
    <%= f.submit "OK, Add me." %> <br> <br>
    <%= link_to 'Back', developers_path %>
  </div>
<% end %>
