<h5><span id="notice" class="label label-success"><%= notice %></span></h5>

<% if @developers.present? %>
  <%= render 'developer' %>
<% else %>
  <%= render 'dev_not_found' %>
<% end %>

<%= link_to 'I want to be a part of this!', new_developer_path, class: "btn btn-primary-outline" %>
<%= link_to 'Oh, just show me the codes!', codes_index_path, class: "btn btn-primary-outline" %>

<% if !params[:search] %>
  <div class="pull-xs-right"><%= will_paginate @developers %><div>
<% end %>
