<%= form_tag(developers_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Lookup a dev..." %>
<%= submit_tag "Search" %>
<% end %>

<h5><span id="notice" class="label label-success"><%= notice %></span></h5>

<%= render "developer" %>

<%= link_to 'I want to be a part of this!', new_developer_path, class: "btn btn-primary-outline" %>
<%= link_to 'Oh, just show me the codes!', codes_index_path, class: "btn btn-primary-outline" %>

<% if !params[:search] %>
  <div class="pull-xs-right"><%= will_paginate @developers %><div>
<% end %>