<p id="notice"><%= notice %></p>

<center><h1> <%= @developers.count %> Awesome Devs on Snapchat...and counting!</h1></center>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Full name</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= link_to developer.login, "http://snapchat.com/add/#{developer.login}" %></a></td>
        <td><%= developer.full_name %></td>
        <td><%= developer.about %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @developers %>

<br>
<%= link_to 'New Developer', new_developer_path %>
