<p id="notice"><%= notice %></p>

<h1>Developers on Snapchat</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Full name</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.login %></td>
        <td><%= developer.full_name %></td>
        <td><%= developer.about %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path %>
