<h5><span id="notice" class="label label-success"><%= notice %></span></h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Snapchat username</th>
      <th>Full name</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td data-toggle="modal" data-target="#snapmodal<%= developer.id %>" >
          <span id="snapchat_username">
            <%= developer.snapchat_username %>
          </span>
        </td>
        <td><%= developer.full_name %></td>
        <td><%= developer.about %></td>
      </tr>

      <div class="modal fade" id="snapmodal<%= developer.id %>">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <center><h1><%= developer.full_name %></h1></center>
              <center><h4 class="blockquote-footer"><%= developer.about %></h4></center>
            </div>
            <center><div class="modal-body">
              <%= image_tag("https://feelinsonice-hrd.appspot.com/web/deeplink/snapcode?username=#{ developer.snapchat_username }&type=PNG") %>
              <h2><%= developer.snapchat_username %></h2>
            </div></center>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger-outline" data-dismiss="modal">Close</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<%= link_to 'I want to be a part of this!', new_developer_path, class: "btn btn-primary-outline" %>

<center><%= will_paginate @developers %></center>

