<form {{action 'submitForm' on="submit"}}>
  <div class="card card-block">
    <div class="field snapchat-username-field">
      <div class="form-group {{if errors.snapchatUsername 'has-danger'}}">
        <label class="control-label required" for="developer-snapchat-username">Snapchat username</label>
        {{#auto-focus}}
          {{input placeholder="anakin_skywalker"
                  class="form-control form-control-danger"
                  type="text"
                  value=form.snapchatUsername
                  id="developer-snapchat-username"
          }}
        {{/auto-focus}}
        {{display-error error=errors.snapchatUsername}}
      </div>
    </div>

    <div class="field fullname-field">
      <div class="form-group {{if errors.fullName 'has-danger'}}">
        <label class="control-label required" for="developer-full-name">Full name</label>
        {{input placeholder="Han Solo"
                class="form-control form-control-danger"
                type="text"
                value=form.fullName
                id="developer-full-name"}}
        {{display-error error=errors.fullName}}
      </div>
    </div>

    <div class="field about-field">
      <div class="form-group {{if errors.about 'has-danger'}}">
        <label class="control-label required" for="developer-about">About</label>
        {{#textarea rows="5"
                  placeholder="Anything that best describes you as a developer. Give your best shot."
                  class="form-control form-control-danger"
                  id="developer-about"
                  value=form.about
        }}{{/textarea}}
        {{display-error error=errors.about}}
      </div>
    </div>

    <div class="actions">
      {{#if submitting}}
        {{loading-spinner}}
      {{else}}
        <button type="submit" name="commit" class="btn btn-primary-outline" disabled={{formInvalid}}>OK. Add me!</button>
        <button type="button" class="btn btn-danger-outline cancel-button" data-dismiss="modal" {{action 'clickedCancelButton'}}>
          No, take me back.
        </button>
      {{/if}}
    </div>
  </div>
</form>